<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>            <string>{{.Label | xml}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{.BinPath | xml}}</string>
    <string>-data-dir</string>
    <string>{{.DataDir | xml}}</string>
  </array>
  <key>RunAtLoad</key>        <true/>
  <key>KeepAlive</key>        <true/>
  <key>StandardOutPath</key>  <string>{{.LogPath | xml}}</string>
  <key>StandardErrorPath</key><string>{{.LogPath | xml}}</string>
  <!-- Help the binary find the Docker Desktop CLI + socket. -->
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key><string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
